# Entorno
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/example_project?schema=public

# Auth JWT
JWT_SECRET=cambiar_por_un_secreto_de_32+_caracteres
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=cambiar_por_otro_secreto_de_32+_caracteres
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=*